<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<%= image_tag "profile.jpg" %>
		</div>
		<div class="col-md-6 col-md-offset-1 text-justify">
			<h1>It's Mrs. Glass Ball</h1>
			<p>Bespoke four dollar toast kale chips green juice. Master cleanse microdosing flannel, kinfolk try-hard shabby chic gluten-free health goth selvage schlitz leggings lo-fi yuccie. Synth artisan pop-up, health goth butcher migas mustache brunch PBR&B sriracha seitan. Kombucha jean shorts seitan you probably haven't heard of them, kinfolk brooklyn ethical kogi beard bushwick pop-up listicle meggings. Ethical fanny pack schlitz williamsburg, brunch meggings next level hoodie selvage kombucha ramps twee plaid 3 wolf moon.</p>
		</div>
	</div>
</div>