<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-justify">
			<% @posts.each do |post| %>
				<h2><%= link_to post.title, post %></h2>
				<p>created at <%= time_ago_in_words(post.created_at) %></p>
				<p class="lead"><%= truncate(post.body, length: 100) %></p>
			<% end %>
		</div>
	</div>
</div>