<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-justify">
		<p></p>
			<h1><%= @post.title %></h1>
			<p>Submitted <%= time_ago_in_words(@post.created_at) %> ago</p>
			<p><%= @post.body %></p>
		</div>
	</div>
</div>